* {
  margin: 0;
  padding: 0;
}

/* Your tablet and above styles go here */

/* general  for mobile */
.hero {
  background-image: url("./assets/img/header.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Log section for mobile */
header {
  
  width: 100vw;
  display: flex;
  height: 10vh;
  
  justify-content: center;
}
.header-logo {
  display: none;
}
.navbarLogin {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.navbarLogin > a {
  text-decoration: none;
}
a > .login {
  width: 46px;
  height: 18px;
  border: 0;
  background-color: transparent;
  color: #ffffff;
  /* font */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13.99px;
}

a > .signup {
  width: 90px;
  height: 36px;
  color: #ffffff;

  /* UI Properties */
  background: #1a191500 0% 0% no-repeat padding-box;
  border: 2px solid #ffffff;
  border-radius: 18px;
  opacity: 1;
  /* font */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13.99px;
}
.heroText {
  width: 90vw;
  height: 90vh;
  height: 50vh;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
/* HeroText Section */
.heroText > .dreamshare {
  /* UI Properties */

  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  opacity: 1;

  /* font */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.heroText .mainPhrase {
  max-width: 334px;
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  /* font */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.heroText > .subtitlehero {
  /* UI Properties */
  width: 70%;
  max-width: 233px;
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  /* font */
  font-family: Roboto, sans-serif;
  font-weight: light;
  font-size: 18px;
}

.findHolidayPartner > a {
  text-decoration: none;
  color: #ebebea;
  background-color: #ff4e50;
  border-radius: 20px;
  padding: 15px 30px;

  /* UI Properties */

  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  /* fonts */
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
/************** second screen view  *************/
.second-screen-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.second-screen-view > .how-dreamshare-works {
  /* UI Properties */
  padding: 10px;
  text-align: center;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;

  /* font */
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 22px;
  color: #333333;
}
/********* cards **************/
.dreamshare-Card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 10px;
  width: 300px;
  height: 240px;
  gap: 10px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-bottom: 10.65px;
}
.dreamshare-Card > .card-step {
  background-color: #ff4e50;
  border-radius: 20px;
  width: 70px;
  height: 20px;
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 3.45px 12.56px;
}
.dreamshare-Card > .card-maintext {
  display: flex;
  align-items: center;
  width: 180px;
  height: 58px;

  color: #ffffff;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.dreamshare-Card > .card-subtext {
  color: #cccccc;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#card1 {
  background-image: url("./assets/img/step1desk.png");
}
#card2 {
  background-image: url("./assets/img/step2desk.png");
}
#card3 {
  background-image: url("./assets/img/step3desk.png");
}

/*********************** search Section **************************/

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.main-search-text {
  width: 90vw;
  max-width: 282px;
  text-align: center;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  /* font */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 21.94px;
}
.search-message {
  width: 276px;
  text-align: center;
  letter-spacing: 0px;
  color: #333333;
  opacity: 1;
  /* font */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17.95px;
}
.search-input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.search-input-box {
  width: 280px;
  height: 40px;
  border-radius: 6px;
  border: 1px solid #cccccc;
}
.search-input-box::placeholder {
  color: #cccccc;
  opacity: 1;
  /* font */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17.95px;
  text-indent: 10px;
}

.search-button {
  background-color: #ff4e50;
  border-radius: 20px;
  width: 280px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

/******************* break line ***********************/
.break-line-after-search-bar {
  color: #ff4e50;
  background-color: #ff4e50;
  width: 1440px;
  height: 4px;
  border: 0;
}
/******************* footer *******************/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.footer-dreamshare {
  color: #ff4e50;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-company-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.footer-company {
  color: #333333;
  font-size: 13.98px;
}
.footer-navbar {
  display: flex;
  gap: 15px;
}
.footer-navbar > .menu-item {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 13.98px;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 100vh;
  }
  .header-logo {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
  header {
    justify-content: space-between;
    width: 95vw;
  }
  .navbarLogin {
    justify-content: flex-end;
  }
  .heroText > .dreamshare {
    display: none;
  }
  .heroText > .mainPhrase {
    font-size: 52px;
    width: 80vw;
    max-width: 510px;
  }
  .heroText > .subtitlehero {
    max-width: 400px;
  }

  /**************** Second section *******************/
  .cards-group {
    display: flex;
    gap: 15px;
  }
  .dreamshare-Card {
    width: 236px;
    height: 400px;
  }

  /****************** Search Section ******************/
  .search-section {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .search-input-group {
    flex-direction: row;
  }
  /**************** footer section **************/

  footer{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  .footer-navbar{
    flex-direction: column;
  }
  .footer-company-group{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

/*-------------------- Desktop view --------------------*/
@media screen and (min-width: 940px) {
    header{
        width: 70vw;
        justify-content: space-between;
        margin-top: 20px;
    }
    .heroText{
        gap: 40px;
    }
    .dreamshare-Card{
        width: 300px;
        height: 400px;
    }
    .card-maintext{
        font-size: 24px;
    }

    .break-line-after-search-bar{
        width: 100vw;
    }

    /* footer */
    footer{
        justify-self: center;
        margin-left: 15vw;
        margin-right: 15vw;
    }

    /* end */
}